# Options: msqp, webapi
SERVER_LIST_METHOD=webapi
# Create a key! (if using the web api method)
# https://steamcommunity.com/dev/apikey
STEAM_API_KEY=
# Database configuration optional
PG_HOST=
PG_PORT=
PG_USER=
PG_PASS=
PG_DBNAME=
PG_SCHEMA=
